Package: com.xiaomo.tiebaclean
Name: TiebaClean
Version:0.8.3
Architecture: iphoneos-arm64e
Description: Baidu Tieba cleaner: remove launch/splash ad + Youliao/Live top tabs + commercial ads in feed and post list (roothide / arm64e)
Maintainer: xiaomo
Author: xiaomo
Section: Tweaks
Depends: mobilesubstrate, ellekit
